/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.search-container {
  /* height: 2rem; */
  /* width: 25rem; */
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  /* border: .1rem solid green; */
  padding: 2rem;
}

.search-box {
  height: 2rem;
  width: 30rem;
  border-radius: 0.5rem;
  background-color: #edf5e1;
  font-weight: 300;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.search-button {
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  background-color: #094886;
  color: #c9daea;
  font-weight: 500;
}

main.hero {
  background-image: url('./images/homepageimg.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  flex-direction: column;
}
.search-link {
  font-weight: 700;
  background-color: azure;
  padding: 0.5rem;
  border-radius: 0.4rem;
  margin: 2rem;
}
.nav-bar ul {
  display: flex;
  justify-content: space-around;
  background-color: #8dd4af;
  padding: 0.5rem;
  // margin-right: 15rem;
  border-radius: 0.5rem;
  // margin-left: 15rem;
  /* border: .25rem solid #379683; */
  list-style: none;
}

.star-rating:not(old) {
  display: flex;
  width: 9.5rem;
  height: 1.5rem;
  /* overflow: hidden; */
  /* vertical-align: bottom; */
  justify-content: flex-start;
  /* padding: 0rem; */
  /* border: 1rem solid green; */
}
.rest-container {
  text-align: center;
}
.add-rest input {
  // margin-left: 0.5rem;
  width: 80%;
  background-color: whitesmoke;
  border-radius: 0.3rem;
  // margin-bottom: 0.8rem;
  margin: 0.5rem;
  border: 0.1rem solid black;
  padding: 0.5rem;
}
.add-rest {
  // text-align: center;
  display: flex;
  // align-items: center;
  // width: 100%;
  // border: 1rem solid green;
  flex-direction: column;
  // justify-content: space-evenly;
}
.add-rest button {
  background-color: #094886;
  color: #c9daea;
  border-radius: 0.5rem;
  padding: 0.5rem;
  // width: 50%;
  text-align: center;
}
.restaurant-details {
  // margin-left: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.restaurant-name {
  // border: 1rem solid green;
  text-align: center;
  border: 0.1rem dashed black;
  background-color: rgb(238, 242, 253);
  font-size: 2rem;
  border-radius: 0.4rem;
  padding-top: 1rem;
  // padding: 0.5rem;
  // font-weight: 00;
  // width: 30%;
}
.restaurant-name p {
  font-size: 1rem;
}
.food-type {
  font-size: 1.5rem;
  text-align: center;
}
.add-item-container {
  padding-top: 0.5rem;
  margin-top: 1rem;
  // border: 1rem solid red;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0.5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  // background-color: #c9daea;
  // border: 0.09rem solid #094886;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-item-container p {
  margin-bottom: 1.5rem;
}
.add-item-container input {
  border-radius: 0.2rem;
  margin: 0.25rem;
  width: 14rem;
}
.add-item-container button {
  border-radius: 0.4rem;
  margin-left: 0.5rem;
  background-color: #8dd4af;
  border: 0.05rem solid #094886;
  padding-left: 1rem;
  padding-right: 1rem;
}
.menu-items {
  list-style: none;
  text-align: center;
  // border-bottom: 0.1rem dashed #094886;
  // border: 0.1rem solid greenyellow;
}
.menu-items li {
  // border: 0.1rem solid greenyellow;
  font-size: 1.3rem;
  font-weight: 400;
  color: black;
}
.dish-name {
  text-align: center;
  margin: 0.5rem;
  border: 1px solid #094886;
}
.reviews {
  list-style: none;
  padding: 0;
}
.reviews li {
  border: 0.1rem solid #8dd4af;
  margin: 0.5rem;
  text-align: center;
  padding: 0;
}
.city-state {
  font-size: 0.7rem;
}
.location {
  font-size: 0.7rem;
  padding-top: 0.6rem;
}
.no-results {
  text-align: center;
}
.add-restaurant-link {
  padding-top: 1rem;
}
.search-results {
  list-style: circle;
  list-style-position: inside;
  font-size: 1.5rem;
}
.search-results li {
  // border: 1rem solid green;
  padding: 0;
  margin: 0;
  text-align: center;
}
.menu {
  // border-bottom: 0.1rem solid #094886;
  margin-right: 18rem;
  margin-left: 18rem;
  font-size: 2rem;
  // border: 1rem solid green;
}
.comment-area {
  display: flex;
  flex-direction: column;
}
.comment-area textarea {
  width: 35rem;
}
.submit-review-button {
  height: 2rem;
  width: 10rem;
  border-radius: 0.5rem;
  background-color: #094886;
  color: #c9daea;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.ask-for-review {
  padding-bottom: 1rem;
}
